<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="uap10.0.10240" />
  <package id="Microsoft.NETCore.Targets" version="1.1.0" targetFramework="uap10.0.10240" />
  <package id="System.Runtime" version="4.0.0" targetFramework="uap10.0.10240" />
</packages>